/* 頭條 */
#hero{
    background-color: #fff;
    padding-bottom: 100px;
}
#hero .kv .img{
    margin-bottom: 40px;
}
#hero .kv .txtBox .inBox{
    display: flex;
    margin-bottom: 120px;
}
#hero .kv .txtBox .inBox .itemTitle{
    width: 40%;
}
#hero .kv .txtBox .inBox .newsBox{
    width: 60%;
}
#hero .kv .txtBox .inBox .newsBox .tag{
    display: none;
    width: fit-content;
    background-color: #242EF7;
    padding: 4px 10px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    margin-bottom: 16px;
}
#hero .kv .txtBox .inBox .newsBox.type2 .tag{
    display: block;
}
#hero .kv .txtBox .inBox .newsBox .title{
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0%;
    margin-bottom: 15px;
}
#hero .kv .txtBox .inBox .newsBox .description{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 32px;
}
#hero .newslist ul li .date{
    color: #50514F;
}
#hero .newslist ul li .titleBox .title{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0%;
}
@media (max-width:1279px) {
    #hero .kv .txtBox .inBox .newsBox .title {
        font-size: 48px;
        line-height: 64px;
    }
    #hero .kv .txtBox .inBox .newsBox .description {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 32px;
    }
    #hero .newslist ul li .titleBox .title {
        font-size: 22px;
        line-height:normal;
    }
    #hero .kv .txtBox .inBox {
        margin-bottom: 60px;
    }
}
@media (max-width:1023px) {
    #hero .kv .txtBox .inBox{
        display: block;
        padding: 0 40px;
        margin-bottom: 60px;
    }
    #hero .kv .txtBox .inBox .itemTitle,
    #hero .kv .txtBox .inBox .newsBox{
        width: 100%;
    }
    #hero .kv .txtBox .inBox .itemTitle{
        margin-bottom: 20px;
    }
    .newslist ul li .arraw{
        display: none;
    }
}
/* 頭條 ed */
