
h1 p{
    width: max-content;
    cursor: pointer;
}
#adult{    
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
}

#adult .box{
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    padding: 36px;
}
#adult .box .img{
    width: 100px;
    aspect-ratio: 1/1;
    margin: 0 auto 24px;
}
#adult .box .content{
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #000;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 36px;
}
#adult .box .button{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}
#adult .box .button ul{
    width: 100%;
    display: flex;
    gap: 12px;
}
#adult .box .button ul li{
    width: 50%;
    padding: 12px;
    background-color: #242EF7;
    color: #fff;
    text-align: center;
    border: 1px solid #242EF7;
    cursor: pointer;
}
#adult .box .button ul li.white{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
#adult .box .button ul li:hover{
    background-color:#2029e0;
}
#adult .box .button ul li.white:hover{
    background-color:rgba(0, 0, 0, 0.15);
}



#share .inBox{
    position: relative;
    overflow:unset;
}
#share .fixed{
    top: 30%;
    position: fixed;
}
#share .shareBox{    
    position: absolute;
    width: max-content;
    right: 10px;
    top: 150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
@media (max-width:1279px) {
    #share .shareBox{    
        right: 50px;
        top: 150px;
    }
}
@media (max-width:1023px) {
    #share .shareBox{  
        display: none;
    }
}
#share .shareBox .community{
    display: block;
    margin-bottom: 12px;
}
#share .shareBox .community a{
    width: 36px;
    padding: 12px;
    aspect-ratio: 1/1;
    display: block;
}
#share .shareBox .goTop a{
    width: 36px;
    padding: 10px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #fff;
}
#share .shareBox .goTop a img{
    width: 30px;
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}
#article {
    padding: 152px 0 0;
}
#article .articleInBox,
#articleMore .articleInBox{
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    padding:0 40px 100px;
}
@media (max-width:767px) {
    #article {
        padding: 96px 0 0;
    }
    #article .articleInBox,
    #articleMore .articleInBox{
        width: 100%;
        padding:0 20px 100px;
    }
}
#article .breadcrumbs{
    margin-bottom: 40px;
}
#article .newsArticle .mainTitle{
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
#article .newsArticle .authorBox{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #000;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
#article .newsArticle .authorBox .author, 
#article .newsArticle .authorBox .publishTime, 
#article .newsArticle .authorBox .updateTime{
    margin-bottom: 8px;
}
#article .contains{
    padding: 20px 0;
}
#article .contains .title{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #242EF7;
    letter-spacing: 0%;
    margin-bottom: 12px;
}
#article .contains ul{
    padding-left: 16px;
    margin-left: 8px;
    border-left: 1px solid #242EF7;
}
#article .contains ul li{
    margin-bottom: 12px;
}
#article .contains ul li a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    letter-spacing: 0%;
}
#article .mainImg{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 28px;
    line-height: 0;
}
#article .mainImg img{
    margin-bottom: 8px;
}
#article small{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    color: #505050;
}
#article .mainVideo{
    width: 100%;
    overflow: hidden;
    margin-bottom: 28px;
    aspect-ratio: 16/9;
}
#article .mainVideo iframe{
    width: 100%;
    height: 100%;
}
#article .content h2,
#article .content h3,
#article .content p,
#article .content ul,
#article .content ol,
#article .content li,
#article .content blockquote,
#article .content code,
#article .content pre,
#article .content hr,
#article .content iframe,
#article .content video,
#article .content cite
{
    display: block;
    margin-bottom: 20px;
}
#article .content table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#article .content table td,
#article .content table th,
#article .content table tr{
    border: 1px solid #cecece;
    padding: 8px;
    text-align: center;
}
#article .content table th{
    background-color: #242EF7;
    color: #fff;
}
#article .content a{
    color: #242EF7;
    text-decoration: underline;
}
#article .content a:hover{
    opacity: 0.6;
}
#article .content blockquote{
    margin-bottom: 20px;
}
#article .content blockquote.style-modern {
    display: block;
    width: 70%;
    margin: 40px auto ;
    position: relative;
    padding: 50px;
    border-radius: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
}
#article .content blockquote.style-modern::before {
    content: "“";
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 6rem;
    color: #242EF7;
    font-family: Georgia, serif;
    line-height: 1;
}
#article .content blockquote.style-modern::before {
    content: "“";
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 6rem;
    color: #242EF7;
    font-family: Georgia, serif;
    line-height: 1;
}
#article .content .style-modern::after {
    content: "”";
    position: absolute;
    bottom: -40px;
    right: 10px;
    font-size: 5rem;
    color: #242EF7;
    font-family: Georgia, serif;
    line-height: 1;
}

#article .content blockquote.style-modern p {
    margin: 0;
    line-height: 1.6;
}
#article .content blockquote.style-modern cite {
    display: block;
    margin-top: 15px;
    color: #64748b;
    font-weight: bold;
}

#article .articleEndbox{
    margin-top: 40px;
}
#article .articleEndbox p{
    font-size: 20px;
    line-height: 36px;
    color: #000;
    margin-bottom: 20px;
    display: block;
    margin-bottom: 20px;
}

#article .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
#article .tags a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    background-color: #242EF7;
    letter-spacing: 0%;
    padding: 4px 10px;
}
#article .citation{
    margin-bottom: 28px;
}
#article .citation span{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #242EF7;
    margin-bottom: 12px;
    cursor: pointer;
}
#article .citation .flex{
    column-gap: 4px;
}
#article .citation span.arraw{
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}
#article .citation ul{
    display: none;
}
#article .citation.is-open ul{
    display: block;
}
#article .citation.is-open .arraw{
    transition: transform 0.3s ease;
    transform: rotate(-45deg);
}
#article .citation ul li{
    margin-bottom: 12px;
}
#article .citation ul li a{
    color: #000;
    letter-spacing: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 12px;
}
#article .citation ul li a .title{
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#article .citation ul li a .arraw2{
    width: 36px;
    height: 36px;
    margin-left: auto;
}
#article .community{
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}
#article .community a{
    width: 36px;
    height: 36px;
    padding: 12px;
    border: 1px solid #000;
}

#articleMore{
    padding: 60px 0 0;
    background-color: #242EF7;
    color: #fff;
}
#articleMore .mainTitle{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    color: #fff;
}
#articleMore .list{
    margin-bottom: 40px;
}
#articleMore .list ul li{
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}
#articleMore .list ul li a{
    display: flex;
    gap: 20px;
}
#articleMore .list ul li .news{
    display: flex;
    gap: 20px;
}
#articleMore .list ul li .news .img{
    width: 20%;
}
#articleMore .list ul li .news .titleBox{
    width: 80%;
}
#articleMore .list ul li .news .time{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #F0F0F0;
    letter-spacing: 0.39px;
}
#articleMore .list ul li .news .title{
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    letter-spacing: 0.66px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
#articleMore .list ul li .news .description{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    letter-spacing: 0.42px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
#articleMore .list ul li .arraw{
    width: 36px;
    height: 36px;
}
#articleMore .list ul li .arraw img{
    width: 24px;
    height: 24px;
}
@media (max-width:1279px) {
    #articleMore .list ul li .news .img{
        width: 30%;
    }
    #articleMore .list ul li .news .titleBox{
        width: 70%;
    }
}
@media (max-width:1023px) {
    #articleMore .list ul li .arraw{
        display: none;
    }
}
