/* 404 找不到頁面 */
#notFound{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#notFound .inBox{
    width: 100%;
    padding: 80px 320px;
    display: flex;
    justify-content: center;
}
#notFound .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    width: 600px;
    max-width: 100%;
}
#notFound .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}
#notFound .title .img404{
    width: 172px;
    height: 94px;
}
#notFound .title .img404 img{
    width: 100%;
    height: 100%;
}
#notFound .title .titleText{
    width: 100%;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #000;
    text-align: center;
}
#notFound .title .desc{
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    text-align: center;
}
#notFound .button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 20px;
    background-color: #242EF7;
    border: 1px solid #242EF7;
    transition: background-color 0.3s;
}
#notFound .button span{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
}
#notFound .button:hover{
    background-color: #2029e0;
}
@media (max-width:1279px) {
    #notFound .inBox{
        padding: 80px 80px;
    }
}
@media (max-width:1023px) {
    #notFound .inBox{
        padding: 80px 40px;
    }
}
@media (max-width:767px) {
    #notFound .inBox{
        padding: 80px 20px;
    }
    #notFound .title .titleText{
        font-size: 32px;
        line-height: 40px;
    }
    #notFound .title .desc{
        font-size: 16px;
        line-height: 24px;
    }
}
