@import '@fontsource/noto-sans-tc/400.css';
@import '@fontsource/noto-sans-tc/700.css';
@import '@fontsource/noto-sans-tc/900.css';

:root {
	--font-sans: "Roboto","Roboto Flex","Noto Sans TC",sans-serif;
}

body {    
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: var(--font-sans);
    font-size: 18px;
    transition: 0.3s;
    background-color: #282828;
}
p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.3s;
}
div{
    caret-color: transparent;
    transition: 0.3s;
}
a:link,
a:visited,
a:active {
    text-decoration: none;
}

a {
    transition: 0.3s;
    color: #000;
}

a:hover {
    transition: 0.3s;
    text-decoration: none;
}

a:hover .txt {
    transition: 0.3s;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    border: 0;
}

.img {
    position: relative;
    line-height: 0;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: auto;
}


/*外框*/
.frameBox {
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
.inBox {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
@media (max-width:1599px) {
    .frameBox {
        width:960px;
        margin: 0 auto;
    }
}
@media (max-width:1023px) {
    .frameBox {
        width:728px;
    }
}
@media (max-width:767px) {
    .frameBox {
        width:450px;
    }
}
@media (max-width:449px) {
    .frameBox {
        width:100%;
    }
}
/*外框*/

/* 看更多 */
.more a{
    width: max-content;
    display: flex;
    align-items: center;
    border: 1px solid #242EF7;
}
.more a span{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #242EF7;
    padding: 0 30px;
}
.more a .arraw{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #242EF7;    
}
.more a .arraw img{
    width: 28px;
    height: 28px;
    transform: rotate(-45deg);
}

/* 看更多 ed*/

.itemTitle p{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;    
}

.flex{
    display: flex;
}


/* 列表文章 */

.newslist ul li{
    width: 100%;
    border-bottom:#50514F 1px solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.newslist ul li:last-child{
    margin-bottom: 0;
}
.newslist ul li a{
    display: flex;
    align-items: center;
}
.newslist ul li .date{
    width: 120px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 3%;
    color: #50514F;
}
.newslist ul li .news{
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex: 1;
    min-width: 0;
}
.newslist ul li .title{
    flex: 1;
    min-width: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.newslist ul li .arraw{
    width: 48px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.newslist ul li .img{
    width: 96px;
    aspect-ratio: 16/9;
}

.newslist ul li .arraw img{
    width: 50%;
}
/* 列表文章 ed*/