/* 頭條 */
#hero{
    background-color: #fff;
    padding-bottom: 120px;
}
#hero .kv .img{
    margin-bottom: 30px;
}
#hero .kv .txtBox .inBox{
    display: flex;
    margin-bottom: 120px;
}
#hero .kv .txtBox .inBox .itemTitle{
    width: 40%;
}
#hero .kv .txtBox .inBox .itemTitle{
    width: 40%;
}
#hero .kv .txtBox .inBox .newsBox{
    width: 60%;
}
#hero .kv .txtBox .inBox .newsBox .title{
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0%;
    margin-bottom: 15px;
}
#hero .kv .txtBox .inBox .newsBox .description{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 30px;
}

#hero .newslist ul li{
    width: 100%;
    border-bottom:#50514F 1px solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
#hero .newslist ul li:last-child{
    margin-bottom: 0;
}
#hero .newslist ul li a{
    display: flex;
    align-items: center;
}
#hero .newslist ul li .date{
    width: 120px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 3%;
    color: #50514F;
}
#hero .newslist ul li .news{
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex: 1;
    min-width: 0;
}
#hero .newslist ul li .title{
    flex: 1;
    min-width: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#hero .newslist ul li .arraw{
    width: 48px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
#hero .newslist ul li .img{
    width: 96px;
    aspect-ratio: 16/9;
}

#hero .newslist ul li .arraw img{
    width: 50%;
}
/* 頭條 */

/* 最新 */
#new{
    background-color: #F0F0F0;
    background-image: url('/news-bg-01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#new .titleBox{
    width: 50%;
    padding:120px 0;  
}
#new .list{
    width: 50%;
    padding:120px 0; 
}
#new .titleBox .title{
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: 0%; 
}
#new .titleBox .itemTitle{
    margin-bottom: 15%;
}
#new .titleBox .title span{
    font-weight: 700;
}
#new .list .item{
    padding: 30px;
    background-color:rgba(255,255,255, 0.3);
    backdrop-filter: blur(40px);
    border-radius: 8px;
    border: 1px solid #fff;
}
#new .list .item .txtBox{
    padding: 30px 20px 0;
}
#new .list .item .title{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
#new .list .item .description{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
#new .list .item .tag{
    display: flex;
    column-gap: 10px;
}
#new .list .item .tag a{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    background-color: #242EF7;
    color: #fff;
    padding: 2px 10px;
}
/* 最新 ed*/