/* 頭條 */
#hero{
    background-color: #fff;
    padding-bottom: 120px;
}
#hero .kv .img{
    margin-bottom: 30px;
}
#hero .kv .txtBox .inBox{
    display: flex;
    margin-bottom: 120px;
}
#hero .kv .txtBox .inBox .itemTitle{
    width: 40%;
}
#hero .kv .txtBox .inBox .itemTitle{
    width: 40%;
}
#hero .kv .txtBox .inBox .newsBox{
    width: 60%;
}
#hero .kv .txtBox .inBox .newsBox .title{
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0%;
    margin-bottom: 15px;
}
#hero .kv .txtBox .inBox .newsBox .description{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 30px;
}
#hero .newslist ul li{
    border-bottom:#50514F 1px solid;
}
#hero .newslist ul li .date{
    color: #50514F;
}
/* 頭條 */

/* 最新 */
#new{
    background-color: #F0F0F0;
    background-image: url('/news-bg-01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#new .titleBox{
    width: 50%;
    padding:120px 0;  
}
#new .list{
    width: 50%;
    padding:120px 0; 
}
#new .titleBox .title{
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: 0%; 
}
#new .titleBox .itemTitle{
    margin-bottom: 15%;
}
#new .titleBox .title span{
    font-weight: 700;
}
#new .list .item{
    padding: 30px;
    background-color:rgba(255,255,255, 0.3);
    backdrop-filter: blur(40px);
    border-radius: 8px;
    border: 1px solid #fff;
}
#new .list .item .txtBox{
    padding: 30px 20px 0;
}
#new .list .item .title{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
#new .list .item .description{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
#new .list .item .tag{
    display: flex;
    column-gap: 10px;
}
#new .list .item .tag a{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    background-color: #242EF7;
    color: #fff;
    padding: 2px 10px;
}
/* 最新 ed*/

/* 議題 */
#issue{
    background-color: #1A1A1A;
}
#issue .bg{
    position: relative;
    background-image: url('/news-bg-02.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    color: #fff;
    overflow: hidden;
}
#issue .inBox{
    height: 100%;
}
#issue .txtBox{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#issue .txtBox .itemTitle{
    width: 100%;
    padding-top: 120px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}
#issue .txtBox .title{
    width: 100%;
    padding-bottom: 60px;
}
#issue .txtBox .title p{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0%;
}
#issue .txtBox .title p.big{
    font-weight: 700;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: 0%;
}
#issue .issueList{
    padding: 120px 0 60px;
}
#issue .issueList .description{
    width: 60%;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 60px;
}
#issue .issueList .list{
    display: flex;
}
#issue .issueList .list .col{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding:0 20px;
    border-left: 1px solid #505050;
}
#issue .issueList .list .col:last-child{
    border-right: 1px solid #505050;
}
#issue .issueList .list .item .tag a{
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    background-color: #242EF7;
    color: #fff;
    padding: 2px 10px;
    margin-bottom: 15px;
}
#issue .issueList .list .item .title{
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
}
#issue .issueList .list .item .img{
    aspect-ratio: 16/9;
    overflow: hidden;
}
#issue .issueList .list .item .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#issue .issueList .list .col:first-child .item:first-child .img{
    aspect-ratio: 1/1;
}
/* 議題 ed*/

/* 精選影音 */
#video{
    background-color: #fff;
    color: #000;
    background-image:
        linear-gradient(to right, #E5E5E5 1px, transparent 1px),
        linear-gradient(to bottom, #E5E5E5 1px, transparent 1px);
    background-size: 100px 100px;
}
#video .bg{
    position: relative;
    background-image: url('/news-bg-03.png');
    background-size: 100%;
    background-position: left top;
    background-repeat: no-repeat;
}
#video .inBox{
    padding: 120px 0;
}
#video .list{
    position: relative;
    width: 100%;
    aspect-ratio: 1140 / 1605;
}
#video .list .item{
    cursor: pointer;
    position: absolute;
}
#video .list .item .img{
    width: 100%;
    height: 100%;
}
#video .list .item .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#video .list .item:nth-child(1){
    left: 0%;
    top: 11.94%;
    width: 41.16%;
    height: 15.76%;
}
#video .list .item:nth-child(2){
    left: 51.6%;
    top: 0%;
    width: 48.41%;
    height: 18.68%;
}
#video .list .item:nth-child(3){
    left: 72.75%;
    top: 26.3%;
    width: 13.77%;
    height: 10.55%;
}
#video .list .item:nth-child(4){
    left: 31.6%;
    top: 37.1%;
    width: 33.62%;
    height: 14.61%;
}
#video .list .item:nth-child(5){
    left: 6.96%;
    top: 52.46%;
    width: 18.84%;
    height: 13.09%;
}
#video .list .item:nth-child(6){
    left: 58.84%;
    top: 59.21%;
    width: 41.16%;
    height: 15.88%;
}
#video .list .item:nth-child(7){
    left: 0.29%;
    top: 74.2%;
    width: 47.4%;
    height: 19.57%;
}
#video .list .item:nth-child(8){
    left: 62.17%;
    top: 85.39%;
    width: 32.75%;
    height: 14.61%;
}
#video .linkList{
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding-top: 60px;
}
#video .linkList .linkItem{
    text-align: center;
}
#video .linkList .linkItem p{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #242EF7;
    margin-bottom: 15px;
}
#video .linkList .btn{
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    background-color: #242EF7;
}
#video .linkList .btn span{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #fff;
    padding: 0 30px;
}
#video .linkList .btn .arraw{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}
#video .linkList .btn .arraw img{
    width: 28px;
    height: 28px;
    transform: rotate(-45deg);
}

/* 精選影音 ed*/

/* 科技與財經 */
#crossover{
    background-color: #242EF7;
    color: #fff;
}
#crossover .inBox{
    padding: 120px 0;
}
#crossover .itemTitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}
#crossover .titleBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#crossover .titleBox .more a{
    border: 1px solid #fff;
}
#crossover .titleBox .more a span{
    color: #fff;
    padding: 0 60px;
}
#crossover .titleBox .more a .arraw{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #fff;    
}
#crossover .newslist ul li{
    border-bottom:#fff 1px solid;
}
#crossover .newslist ul li .date{
    color: #fff;
}
#crossover .newslist ul li .title{
    color: #fff ;
}
/* 科技與財經 ed*/

/* 消費性電子 */
#tech{
    background-color: #C8E1FF;
    color: #000;
}
#tech .inBox{
    padding: 120px 0;
}
#tech .itemTitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}
#tech .titleBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#tech .titleBox .more a{
    border: 1px solid #000;
}
#tech .titleBox .more a span{
    color: #000;
    padding: 0 60px;
}
#tech .titleBox .more a .arraw{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #000;    
}
#tech .newslist ul li{
    border-bottom:#000 1px solid;
}
#tech .newslist ul li .title{
    color: #000 ;
}
/* 消費性電子 ed*/

/* 專欄 */
#experts{
    background-color: #1A1A1A;
    color: #fff;
}
#experts .bg{
    position: relative;
    background-image: url('/noice circle.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
}
#experts .inBox{
    padding: 120px 0;
}
#experts .titleBox{
    display: flex;
    justify-content: space-between;
}
#experts .titleBox{
    width: 35%;
}
#experts .list{
    width: 65%;
}
#experts .list .item{
    display: flex;
    column-gap: 30px;
    margin-bottom: 80px;
}
#experts .list .item .img{
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
#experts .list .item .txtBox{
    width: 50%;
}
#experts .list .item .txtBox .name{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 10px;
}
#experts .list .item .txtBox .tag{
    display: flex;
    column-gap: 10px;
    margin-bottom: 15px;
}
#experts .list .item .txtBox .tag a{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;    
    background-color: #242EF7;
    color: #fff;
    padding: 2px 10px;
}
#experts .list .item .txtBox .description{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 30px;
}
#experts .list .item .txtBox .intro{
    margin-bottom: 30px;
}
#experts .list .item .txtBox .intro a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    color: #fff;
}
#experts .list .item .txtBox .intro a .arraw{
    width: 48px;
    aspect-ratio: 1/1;
}
#experts .list .item .txtBox .intro a{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0%;
    padding: 15px 0;
    border-top: 1px solid #fff;
}
#experts .list .item .txtBox .more a{
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    border: 1px solid #fff;
}
#experts .list .item .txtBox .more a .arraw{
    border-left: 1px solid #fff;    
}
#experts .list .item .txtBox .more a span{
    width: 90%;
    color: #fff;
    text-align: center;
}
#experts .list .item .txtBox .more a span{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}
/* 專欄 ed*/